* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(219, 223, 223);
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  height: 600px;
}

#cabecalho {
  width: 100%;
  border: 1px solid palevioletred;
  position: relative;
  display: flex;
  flex-direction: row;
  /*row, column, row-reverse, column-reverse*/
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 75%;
  position: relative;
}

.logo img {
  width: 45%;
}

.menu {
  width: 45%;
  position: relative;
  font-size: 1.6vw;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  position: relative;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 5, 0);
}

.menu ul li:hover {
  color: blue;
}

/*Menu Responsivo tags adicionadas no javascreipt*/

.menu-mobile {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 40px;
  border-radius: 5px;
  line-height: 50px;
  background-image: url("../image/menu.png");
  width: 100%;
  height: 49px;
  z-index: 30px;
}

.menu-active {
  display: block;
  margin-top: 45px;
}

.menu-mobile-open {
  background-image: url("../image/menu.png");
}

.menu-mobile {
  display: block;
  width: 9%;
}

.menu {
  padding: 0;
  margin: 0px 55px;
  width: 28%;
  flex-direction: column;
  /* float: none; */
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
}

.menu-list {
  display: none;
  width: 100%;
  /* display: table-column; */
  background-color: rgb(185, 185, 185);
  font-size: 2vw;
}
.menu ul li {
  width: 100%;
  text-align: center;
  border: 1px solid rgb(169, 169, 169);
}

.menu-active {
  display: block;
  margin-top: 50px;    
}

@media screen and (min-width: 700px) {
  .logo img {
    width: 47%;
  }

  .menu-mobile{
    display: none;
  }

  .menu {
    position: relative;
    z-index: 0;
    top: 0;
    width: 100%;
  }

  .menu ul li {
    border: none;
  }

  .menu-list{
    display: flex;
    background-color: transparent;
    width: 100%;
  }
}


/* @media screen and (min-width: 1024px) {
  .menu-list{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu {
    padding: 0;
    margin: 0;
    width: 30%;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
  }  
} */